#bracket {
  display: flex;
  flex-direction: row;
}

#teamButton {
  margin-left: 10px;
  margin-bottom: 10px;
}

.delete {
  cursor: pointer;
}

.toolBar {
  margin-bottom: 1% !important;
}

.githubLink {
  position: absolute;
  right: 2%;
}

.bracketButton {
  margin-top: 10px !important;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  max-width: 422px;
}

.winner {
  text-decoration: underline;
  text-emphasis: bold;
  margin-left: 2%;
}

.matchWrapper {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  flex-grow: 1;
  padding: 0;
}

.roundSpacer{
  flex-grow: 1 !important;
}

.roundSpacer:first-child, .roundSpacer:last-child{
  flex-grow: .5 !important;
}

.fillerRound{
  margin-left: 2%;
}